<head>
	<meta charset="UTF-8">
</head>
<div id="modalOperacijaIzmena" class="modal" style="font-size:150%;" role="dialog" th:fragment="modalOpIspravka">
  <div class="modal-dialog">
  
  <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" onclick="document.getElementById('modalOperacijaIzmena').style.display='none'" >&times;</button>
        <h4 class="modal-title">Informacije o operaciji</h4>
      </div>
      <div class="modal-body">
        <table class = "table" id="tableModal">
		<thead>	</thead>
			<tbody>
			<tr>
        		<td>Id</td>
        	  	<td>{{item.id}}</td>
        	</tr>
        	<tr>
        		<td>Tip</td>
        	  	<td>{{item.tipOp}}</td>
        	</tr>
        	<tr>
        		<td>Datum</td>
        	  	<td><input type = "date" v-on:change = "datumOp" id = "dateOp" v-model = "selected_datum"></td>
        	</tr>
        	<tr>
        		<td>Vreme</td>
        		<td>
            		<select style = "height: 30px;" id = "terminOp" v-model = "selected_time">
            			<option v-for = "tt in termini" v-bind:value = "tt"> {{tt}} </option>
					</select>
				</td>
        	</tr>
        	<tr>
        		<td>Sala</td>
        		<td>
            		<select style = "height: 30px;" @change="getLekariSala2($event)" id = "salaOp" v-model = "selected" >
            			<option v-for = "tt in sale" v-bind:value = "tt"> {{tt.naziv}} </option>
					</select>
				</td>
        	</tr>
        	<tr>
        		<td>Lekari</td>
        		<td>
            		<select id="lekariOIzmenaSelect" class="js-example-basic-multiple" multiple="multiple" style="width:400px;height: 50px;">
			  </select>
				</td>
        	</tr>
        	</tbody>
      	</table>
      </div>
      <div class="modal-footer">
      <button type="button" class="btn btn-default" v-on:click="zakazi_izmenjenu_operaciju">Zakaži</button>
      	<button type="button" class="btn btn-default" onclick="document.getElementById('modalOperacijaIzmena').style.display='none'">Nazad</button>
      </div>
    </div>

  </div>

</div>