<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>Admin</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
   <link href="https://cdn.jsdelivr.net/npm/select2@4.0.13/dist/css/select2.min.css" rel="stylesheet" />
<script src="https://cdn.jsdelivr.net/npm/select2@4.0.13/dist/js/select2.min.js"></script>
  		<style>
  		html, body {
    width: 100%;
}
		#tabela {margin: 0 auto;}
		
		#tableModal td, #tableModal th {
 		   border: none;
		}
		
		.btn{
			font-size: 100%;
		}
	</style>
  	
  	</head>
  	<script>
	  	$(document).ready( function() {
			$( "#registracija" ).hide();
		});
  	</script>
<body>
<div id = "klinika">
	<nav class="navbar navbar-inverse">
		<div class="container-fluid">
	    	<ul class="nav navbar-nav">
				<li><a class="navbar-brand" v-on:click="prikazi_zahteve">Zahtevi za registraciju</a></li>
		      	<li><a class="navbar-brand" v-on:click="prikazi_zpreglede" >Registrovanje klinika</a></li>
		      	<li><a class="navbar-brand" v-on:click="prikazi_sifrarnik" >Šifarnik</a></li>
		      	<li><a class="navbar-brand" v-on:click="prikazi_profil" >Profil</a></li>
		    </ul>
	    	<ul class="nav navbar-nav navbar-right">
	      		<li><a v-on:click="log_out_k"><span class="glyphicon glyphicon-log-in"></span> Logout</a></li>
	    	</ul>
  		</div>
	</nav>
	<login-component></login-component>
	<div th:replace="pacijent_html/Profil :: regg"></div>
	<div th:replace="akc_html/RZahtevi :: table"></div>
	<div th:replace="akc_html/modalZahtev :: modalP"></div>
	<div th:replace="akc_html/modalOdbijanje :: modalO"></div>
	<div th:replace="akc_html/modalDijagnoza :: modalD"></div>
	<div th:replace="akc_html/modalSifrarnik :: modalSif"></div>
	<div th:replace="akc_html/modalLek :: modalL"></div>
	<div th:replace="akc_html/sifrarnik :: tableS"></div>
	<div th:replace="tabela :: table"></div>
</div>
</body>

<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="https://vuejs.org/js/vue.js"></script>
<script src="/js/script.js"></script>

<script>

	var app = new Vue({
		el: '#klinika',
		data: {
			ime_pl : '',
			prez_pl : '',
			adr_pl : '',
			br_pl : '',
			new_pass : '' ,
			error_message: '',
			id: '',
			lbo: '',
			email : '',
			ime : '',
			imee:'',
			prezime : '',
			pass : '',
			pass2 : '',
			adresa : '',
			broj : '',
			obrazlozenje: '',
			dijag: '',
			lek: '',
			items : [],
			columns : [],
			labels : [],
			sifrarnik : [],
			dijagnoze : [],
			lekovi : [],
			item : {}
		},
		mounted() {
			$('#dijagnozaSelect').select2({
                placeholder: "Izaberi dijagnozu..."
            });
			
			$('#lekSelect').select2({
                placeholder: "Izaberi lek..."
            });
		},
		methods: {
			prikazi_profil()
			{
				this.sakrij_sve();
				
                axios({
                	method : 'get',
                    url : 'api/profil' + '?access_token=' + getCookie("access_token"),
                }).then(function(response){
                    this.ime_pl = response.data.ime;
					this.prez_pl = response.data.prezime;
					this.adr_pl = response.data.adresa;
					this.br_pl = response.data.broj;
					this.new_pass = response.data.lozinka;
					this.id = response.data.id;
					this.lbo = response.data.lbo;
					this.email = response.data.email;
                    console.log(response.data);
                    $( "#registracija" ).show();
                }.bind(this));
            },
			prikazi_zahteve()
			{
            	this.sakrij_sve();
				console.log("Nesto se desilo")
                axios({
                	method : 'get',
                    url : 'api/akc/zahteviZaReg' + '?access_token=' + getCookie("access_token"),
                }).then(function(response){
                    this.columns = [ 'emailP', 'imeP', 'prezimeP', 'datum', 'vreme'];
                    this.labels = [ 'Email', 'Ime', 'Prezime', 'Datum', 'Vreme'];
                    this.items = response.data;
                    $( "#tabelaRZahtevi" ).show();
                    //console.log(this.items[0].naziv);
                }.bind(this));
				
            },
			prikazi_zpreglede()
			{		
            	this.sakrij_sve();
				console.log("Nesto se desilo")
                axios({
                	method : 'get',
                    url : 'api/pregled/zakazani',
                }).then(function(response){
                	this.columns = [ 'imeP', 'prezimeP', 'sala', 'datum', 'vreme'];
                    this.labels = [ 'Ime pacijenta', 'Prezime pacijenta', 'Sala', 'Datum','Vreme'];
                    this.items = response.data;
                    $( "#tabelaZPregledi" ).show();
                }.bind(this));
				
            },
			prikazi_sifrarnik()
			{
            	this.sakrij_sve();
                axios({
                	method : 'get',
                    url : 'api/akc/sifrarnik' + '?access_token=' + getCookie("access_token"),
                }).then(function(response){
                	this.columns = [ 'imeD', 'imeL'];
                    this.labels = [ 'Naziv dijagnoze', 'Naziv leka'];
                    this.sifrarnik = response.data;
                    
                    $('.js-example-basic-single').val(null).trigger('change');
    				$('.js-example-basic-single').html('').select2({data: [{id: '', text: ''}]});
                    
                    for(stavka of this.sifrarnik){
                    	if(!this.dijagnoze.includes(stavka['imeD'])){
                    		this.dijagnoze.push(stavka['imeD']);
                    		var newOption = new Option(stavka['imeD'], stavka['imeD'], false, false);
        					$('#dijagnozaSelect').append(newOption).trigger('change');
                    	}
                    	if(!this.lekovi.includes(stavka['imeL'])){
                    		this.lekovi.push(stavka['imeL']);
                    		var newOption = new Option(stavka['imeL'], stavka['imeL'], false, false);
        					$('#lekSelect').append(newOption).trigger('change');
                    	}
                    }
                    
                    $('.js-example-basic-single' + " option")[0].remove();
                    
                    $( "#tabelaSifrarnik" ).show();
                }.bind(this));
            },
            validEmail:function(email) {
			    var re = /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
				return re.test(email);
			},
            check(){
				var s = true;
				
				if(this.ime == "") this.ime = this.ime_pl;
				if(this.prezime == "") this.prezime = this.prez_pl;
				if(this.adresa == "") this.adresa = this.adr_pl;
				if(this.broj == "") this.broj = this.br_pl;
				
				if(this.pass != "" && this.pass2 != "") 
					if(this.pass != this.pass2){
						this.error_message = "Lozinke se razlikuju";
						s = false;
					} else new_pass = this.pass;
				
				if(this.pass != "" && this.pass2 == ""){
					this.error_message = "Morate ponoviti lozinku";
					s = false;
				}
								
				return s;
			},
			modal_zahtev(id){
				for(zahtev of this.items){
					if(zahtev['id'] == id){
						this.item = zahtev;
					}
				}
				$( "#modalRZahtevi" ).show();
			},
			prihvati_reg(){
				console.log(this.item)
				axios({
                	method : 'post',
                    url : "/api/potvrdiRegistraciju" + '?access_token=' + getCookie("access_token"),
                    data:this.item
                }).then(function(response){                	
                	document.location.replace("/akcPocetna");
                });
			},
			odbij_reg(){
				$( "#modalRZahtevi" ).hide();
				$( "#modalOdbijanje" ).show();
			},
			zavrsi_odbijanje(){
				this.item['obrazlozenje'] = this.obrazlozenje;
				axios({
                	method : 'post',
                    url : "/api/odbijRegistraciju" + '?access_token=' + getCookie("access_token"),
                    data:this.item
                }).then(function(response){                	
                	document.location.replace("/akcPocetna");
                });
			},
			modal_dodaj_dijagnozu(){
				$( "#modalDijagnoza" ).show();
			},
			modal_dodaj_lek(){
				$( "#modalLek" ).show();
			},
			modal_dodaj_stavku(){
				$( "#modalSifrarnik" ).show();
			},
			dodaj_dijagnozu(){
				axios({
                	method : 'post',
                    url : "/api/dijagnoza/dodaj_dijagnozu" + '?access_token=' + getCookie("access_token"),
                    data: {nazivDijagnoze:this.dijag}
                }).then(function(response){      
                	this.dijagnoze.push(this.dijag);
                	var newOption = new Option(this.dijag, this.dijag, false, false);
					$('#dijagnozaSelect').append(newOption).trigger('change');
					
                	$( "#modalDijagnoza" ).hide(); 	
                }.bind(this)).catch((error)=>{
                	console.log(error);
                	alert("Postoji dijagnoza sa tim nazivom");
                });
			},
			dodaj_lek(){
				axios({
                	method : 'post',
                    url : "/api/lek/dodaj_lek" + '?access_token=' + getCookie("access_token"),
                    data: {nazivLeka:this.lek}
                }).then(function(response){ 
                	this.lekovi.push(this.lek);
                	var newOption = new Option(this.lek, this.lek, false, false);
					$('#lekSelect').append(newOption).trigger('change');
                	$( "#modalLek" ).hide();
                }.bind(this)).catch((error)=>{
                	alert("Postoji lek sa tim nazivom");
                });
			},
			dodaj_u_sifarnik(){
				var d = $('#dijagnozaSelect').find(':selected')[0];
				var l = $('#lekSelect').find(':selected')[0];
				
				axios({
                	method : 'post',
                    url : "/api/akc/dodaj_u_sifarnik" + '?access_token=' + getCookie("access_token"),
                    data: {imeL:l.text,imeD:d.text}
                }).then(function(response){ 
                	if(response.data == "")
                		throw "Stavka vec postoji";
                	this.sifrarnik.push(response.data);
                	$( "#modalSifrarnik" ).hide();
                }.bind(this)).catch((error)=>{
                	alert(error);
                });
			},
			izmeni_korisnika()
            {
            	if(!this.check()) return;
				axios({
                	method : 'post',
                    url : 'api/pacijent/izmena_profila',
                    data:{id:this.id, email:this.email, lozinka:this.new_pass, ime:this.ime, prezime:this.prezime, adresa:this.adresa, broj:this.broj, lbo:this.lbo},
                }).then(function(response){                	
                	document.location.replace("/pacijentPocetna");
                }).catch((error)=>{
                	this.email = "";
                	this.error_message = "Podaci nisu izmenjeni";
                });
            },
            sakrij_sve(){
            	$( "#modalRZahtevi" ).hide();
            	$( "#modalOdbijanje" ).hide();
            	$( "#registracija" ).hide();
            	$( "#tabelaRZahtevi" ).hide();
            	$( "#tabelaSifrarnik" ).hide();
            	$( "#tabela" ).hide();
            	
            },
            log_out_k(){
            	this.$root.$emit('logged-out')
            	//Event.$emit('logged-out');
            }
		}
		});

</script>

</html>