<head>
	<meta charset="UTF-8">
</head>
<div id="modalOdbijanje" class="modal" style="font-size:150%;" role="dialog" th:fragment="modalO">
  <div class="modal-dialog">
  
  <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" onclick="document.getElementById('modalOdbijanje').style.display='none'" >&times;</button>
        <h4 class="modal-title">Obrazložite razlog za odbijanje</h4>
      </div>
      <div class="modal-body">
       	<div class="form-group" style="margin:10px 10px 10px 10px;">
        	<label for="opis">Obrazloženje:</label>
    		<textarea class="form-control" v-model="obrazlozenje" rows="20" id="obrazlozenje"></textarea>
    	</div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" onclick="document.getElementById('modalOdbijanje').style.display='none'">Nazad</button>
        <button type="button" class="btn btn-primary" v-on:click="zavrsi_odbijanje()">Pošalji obrazloženje</button>
      </div>
    </div>

  </div>

</div>