<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
	<meta charset="UTF-8">
	<title>LOGIN</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
	<br>
	<form id = "log_elem">
		<label for="username">Username</label>
        <input v-model="username" type="text" id="username"/>
        <br><br>
        <label for="password">Password</label>
        <input v-model="password" type="password" id="password"/>
        <br><br>
        <input type="submit" v-on:click="login" value="Submit" />
	</form>
</body>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="https://vuejs.org/js/vue.js"></script>

<script>

	var app = new Vue({
		el: '#log_elem',
		data : {
			username:'',
			password:'',
		},
		methods: {
			login(){
				console.log("NESTO")
				axios({
                	method : 'post',
                    url : 'loginKor',
                    data:{username:this.username,password:this.password},
                }).then(function(response){
                    alert(response.data);
                });
			}
		}
	})
	
	

</script>
</html>

