<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
	<meta charset="UTF-8">
	<title>Klinika</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<style>
		body, html {   
		    width: 100%;
		    height: 100%;
		    margin: 0;
		    padding: 0;
		    display:table;
		}
		body {
		    display:table-cell;
		    vertical-align:middle;
		    background-image: linear-gradient(#E6E7FA, white);
		}
		div {
		    display:table;/* shrinks to fit content */
		    margin:auto;
		    text-align : center;
		    background-color: #B5B1B2;
		    padding : 5%;
		    border-radius : 30px;
		}
		input {
			border-radius: 10px;
		}
	</style>
</head>
<body>
	<div>
		<form id = "log_elem" >
			<login-component></login-component>
			<label for="username">Korisnicko ime </label>
	        <input v-model="username" type="text" id="username"/>
	        <br><br>
	        <label for="password">Lozinka </label>
	        <input v-model="password" type="password" id="password"/>
	        <br><br>
	        <input type="button" value="Log in" v-on:click="login" style = "background-color: #D8D8F6"/>
	        <br><br>
	        <p>Nemate nalog? <a href = "/registracijaPacijenta" style = "color: #48576B">Registrujte se.</a></p>
		</form>
	</div>
</body>

<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="https://vuejs.org/js/vue.js"></script>
<script src="/js/script.js"></script>

<script>

	var app = new Vue({
		el: '#log_elem',
		mounted() {
            Event.$on('logged-in',function(role){
            	switch(role){
            	case 'ROLE_P' :
            		document.location.replace("/pacijentPocetna");
            		break;
            	case 'ROLE_L':
            		document.location.replace("/lekarPocetna");
            		break;
            	case 'ROLE_AKC':
            		document.location.replace("/akcPocetna");
            		break;
            	default: 
            		document.location.replace("/");        		
            	}
            })
        },
        data : {
			username:'',
			password:''
		},
		methods: {
			login(){
							
				var params = new URLSearchParams();
                params.append('grant_type', 'password');
                params.append('username', this.username);
                params.append('password',this.password);
				
				axios({
                	method : 'post',
                    url : 'oauth/token',
                    auth:{username:'my-trusted-client',password:'secret'},
                    headers: {"Content-type": "application/x-www-form-urlencoded; charset=utf-8"},
                    data:params
                }).then(function(response){
                	console.log(response.data);
                	set_cookie("access_token",response.data.access_token);
                	//document.cookie = "user=" + response.data.access_token;
                	document.location.replace("/");
                }).catch((error)=>{
                	alert(error);
                });
				console.log("NESTO");
			}
		}
	})

</script>

</html>
