<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
	<meta charset="UTF-8">
	<title>Klinika</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
<div id="root">
    <ul class="list-group">
 		<li class="list-group-item" v-for="todo in todos">
      		{{ todo.text }}
    	</li>
     </ul>
</div>
</body>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="https://vuejs.org/js/vue.js"></script>

<script>
    var app = new Vue({
        el: '#root',
        data : {todos: [{ text: 'Nesto' },
            { text: 'Nesto2' },
            { text: 'Nesto3' }
        ]}
    });
</script>
</html>

