<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>Početna strana</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  		<style>
  		html, body {
	    	width: 100%;
		}
		#tabela {margin: 0 auto;}
	</style>
  	
  	</head>
  	<script>
	  	$(document).ready( function() {
			$( "#registracija" ).hide();
			$( "#tabela" ).hide();
			$("#nav").show();
			document.getElementById('datum').valueAsDate  = new Date();
		});
  	</script>
<body>
	<div id = "klinika">
		<div id = "nav">
		<nav class="navbar navbar-inverse">
			<div class="container-fluid">
		    	<ul class="nav navbar-nav">
					<li><a class="navbar-brand" v-on:click="prikazi_klinike">Prikaz klinika</a></li>
			      	<li><a class="navbar-brand" v-on:click="prikazi_istoriju" >Istorija</a></li>
			      	<li><a class="navbar-brand" v-on:click="prikazi_karton" >Zdravstveni karton</a></li>
			      	<li><a class="navbar-brand" v-on:click="prikazi_profil" >Profil</a></li>
			    </ul>
		    	<ul class="nav navbar-nav navbar-right">
		      		<li><a href="/"><span class="glyphicon glyphicon-log-in"></span> Logout</a></li>
		    	</ul>
	  		</div>
		</nav>
		</div>
		<login-component></login-component>
		<div th:replace="pacijent_html/Profil :: regg"></div>
		<div th:replace="pacijent_html/Klinike :: table"></div>	
		<div th:replace="pacijent_html/UnapredDefinisani :: buttons"></div>
		<div th:replace="pacijent_html/Lekari :: table"></div>
	</div>
</body>

<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="https://vuejs.org/js/vue.js"></script>
<script src="/js/script.js"></script>


<script>

	var app = new Vue({
		el: '#klinika',
		data: {
			ime_pl : '',
			prez_pl : '',
			adr_pl : '',
			br_pl : '',
			new_pass : '' ,
			error_message: '',
			id: '',
			lbo: '',
			email : '',
			imee : '',
			prezime : '',
			pass : '',
			pass2 : '',
			adresa : '',
			broj : '',
			items : [],
			columns : [],
			labels : [],
			tipovi: [],
			naziv : '',
			adresa_fil : '',
			opis : '',
			pretraga_text : '',
			minmax : 'max',
			pretragaLekar_text: '',
			ime_lek: '',
			prez_lek: '',
			broj_lek: '',
			klinika_id : '',
			tip_pregleda : '',
			definisani_pregledi: []
		},
		mounted() {
			//this.pronadji_preglede();
		},
		methods: {
			isLoggedIn(){
                return window.Event.isLoggedIn;
            },
			prikazi_profil()
			{
				$( "#tabela" ).hide();
				$("#tabela_lekari").hide();
				$( "#registracija" ).show();
				alert(document.cookie);
                axios({
                	method : 'get',
                    url : 'api/pacijent/profil',
                }).then(function(response){
                    this.ime_pl = response.data.ime;
					this.prez_pl = response.data.prezime;
					this.adr_pl = response.data.adresa;
					this.br_pl = response.data.broj;
					this.new_pass = response.data.lozinka;
					this.id = response.data.id;
					this.lbo = response.data.lbo;
					this.email = response.data.email;
                    console.log(response.data);
                }.bind(this));
            },
            pronadji_preglede()
            {
            	axios({
                	method : 'get',
                    url : 'api/pacijent/tipovi_pregleda',
                }).then(function(response){
                    this.tipovi = response.data;
                    console.log(this.tipovi[0].ime);
                    this.tip_pregleda=this.tipovi[0].id;
                }.bind(this));
            },
			prikazi_klinike()
			{
            	this.pronadji_preglede();
            	$( "#registracija" ).hide();
            	$("#tabela_lekari").hide();
				console.log("Nesto se desilo")
                axios({
                	method : 'get',
                    url : 'api/pacijent/klinike',
                }).then(function(response){
                    this.columns = [ 'naziv', 'adresa', 'ocena', 'cena'];
                    this.labels = [ 'Naziv', 'Adresa', 'Ocena', 'Cena'];
                    this.items = response.data;
                    console.log(this.items[0].naziv);
                }.bind(this));
				$( "#tabela" ).show();
            },
			prikazi_istoriju()
			{		
            	$( "#registracija" ).show();
				console.log("Nesto se desilo")
                axios({
                	method : 'get',
                    url : 'api/pacijent/klinike',
                }).then(function(response){
                    this.ime_pl = response.data;
                    console.log(this.ime_pl);
                }.bind(this));
				
            },
			prikazi_karton()
			{
				$( "#registracija" ).show();
				$("#tabela_lekari").hide();
				$("#tabela").hide();
				console.log("Nesto se desilo")
                axios({
                	method : 'get',
                    url : 'api/pacijent/klinike',
                }).then(function(response){
                    this.ime_pl = response.data;
                    console.log(this.ime_pl);
                }.bind(this));
            },
            unapred_definisani_pregledi(klinika_id)
            {
            	$("#tabela").hide();
            	axios({
                	method : 'post',
                    url : 'api/pacijent/unapred_definisani',
                    data : {klinika:this.klinika_id}
                }).then(function(response){
                	this.columns = [ 'cena', 'datum', 'vreme'];
                    this.labels = [ 'Cena', 'Datum', 'Vreme'];
                    this.definisani_pregledi = response.data;
                }.bind(this));
            	$('#unapred_definisani').show();
            },
            zakaziDefinisan(id)
            {
            	axios({
                	method : 'post',
                    url : 'api/pacijent/unapred_definisani_zakazi',
                    data : {pregled:id}
                }).then(function(response){
                	document.location.replace("/pacijentPocetna");
                });
            },
            validEmail:function(email) {
			    var re = /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
				return re.test(email);
			},
            check(){
				var s = true;
				
				if(this.imee == "") this.imee = this.ime_pl;
				if(this.prezime == "") this.prezime = this.prez_pl;
				if(this.adresa == "") this.adresa = this.adr_pl;
				if(this.broj == "") this.broj = this.br_pl;
				
				if(this.pass != "" && this.pass2 != "") 
					if(this.pass != this.pass2){
						this.error_message = "Lozinke se razlikuju";
						s = false;
					} else new_pass = this.pass;
				
				if(this.pass != "" && this.pass2 == ""){
					this.error_message = "Morate ponoviti lozinku";
					s = false;
				}
								
				return s;
			},
			izmeni_korisnika()
            {
            	if(!this.check()) return;
				axios({
                	method : 'post',
                    url : 'api/pacijent/izmena_profila',
                    data:{id:this.id, email:this.email, lozinka:this.new_pass, ime:this.imee, prezime:this.prezime, adresa:this.adresa, broj:this.broj, lbo:this.lbo},
                }).then(function(response){                	
                	document.location.replace("/pacijentPocetna");
                }).catch((error)=>{
                	this.email = "";
                	this.error_message = "Podaci nisu izmenjeni";
                });
            },
            filter()
            {
            	axios({
                	method : 'post',
                    url : 'api/pacijent/filter_klinika',
                    data:{naziv:this.naziv,adresa:this.adresa_fil, opis:this.opis, minmax:this.minmax, tip:this.tip_pregleda},
                }).then(function(response){                	
                	this.columns = [ 'naziv', 'adresa', 'ocena', 'cena'];
                    this.labels = [ 'Naziv', 'Adresa', 'Ocena', 'Cena'];
                    this.items = response.data;
                    if(this.minmax=='max')
                    	this.minmax = 'min';
                    else
                    	this.minmax = 'max';
                }.bind(this));
            	$( "#tabela" ).show();
            },
            pretraga(event)
            {
            	this.tip_pregleda = event.target.value;            	
            	axios({
                	method : 'post',
                    url : 'api/pacijent/pretraga_klinika',
                    data:{pretraga_text:this.tip_pregleda},
                }).then(function(response){                	
                	this.columns = [ 'naziv', 'adresa', 'ocena', 'cena'];
                    this.labels = [ 'Naziv', 'Adresa', 'Ocena', 'Cena'];
                    this.items = response.data;
                }.bind(this));
            	$( "#tabela" ).show();
            },
            lista_lekara_tip(id)
            {
            	$( "#registracija" ).hide();
            	$("#tabela").hide();
            	$("#zakazi").hide();
            	this.klinika_id = id;
				console.log(this.klinika_id);
                axios({
                	method : 'post',
                	data: {ind:this.klinika_id, tip:this.tip_pregleda},
                    url : 'api/pacijent/lekari_tip',
                }).then(function(response){
                    this.columns = [ 'ime', 'prezime', 'ocena', 'naziv'];
                    this.labels = [ 'Ime', 'Prezime', 'Ocena', 'Tip pregleda'];
                    this.items = response.data;
                    console.log(this.items[0].naziv);
                }.bind(this));
				$( "#tabela_lekari" ).show();
            },
            lista_lekara(id)
            {
            	this.klinika_id = id;
            	$( "#registracija" ).hide();
            	$("#tabela").hide();
            	$("#zakazi").hide();
				console.log(this.klinika_id);
                axios({
                	method : 'post',
                	data: {ind:this.klinika_id},
                    url : 'api/pacijent/lekari',
                }).then(function(response){
                	this.columns = [ 'ime', 'prezime', 'ocena', 'naziv'];
                    this.labels = [ 'Ime', 'Prezime', 'Ocena', 'Tip pregleda'];
                    this.items = response.data;
                    console.log(this.items[0].naziv);
                }.bind(this));
				$( "#tabela_lekari" ).show();
            },
            filter_lekar()
            {
            	axios({
                	method : 'post',
                    url : 'api/pacijent/filter_lekar',
                    data:{ime:this.ime_lek,prezime:this.prez_lek, broj:this.broj_lek, minmax:this.minmax, id:this.klinika_id, tip:this.tip_pregleda},
                }).then(function(response){                	
                	this.columns = [ 'ime', 'prezime', 'ocena', 'naziv'];
                    this.labels = [ 'Ime', 'Prezime', 'Ocena', 'Tip pregleda'];
                    this.items = response.data;
                    if(this.minmax=='max')
                    	this.minmax = 'min';
                    else
                    	this.minmax = 'max';
                }.bind(this));
            	$( "#tabela_lekari" ).show();
            },
            pretraga_lekar()
            {
            	axios({
                	method : 'post',
                    url : 'api/pacijent/pretraga_lekar',
                    data:{pretraga_lek:this.pretragaLekar_text, id:this.klinika_id, tip:this.tip_pregleda},
                }).then(function(response){                	
                	this.columns = [ 'ime', 'prezime', 'ocena', 'naziv'];
                    this.labels = [ 'Ime', 'Prezime', 'Ocena', 'Tip pregleda'];
                    this.items = response.data;
                }.bind(this));
            	$( "#tabela_lekari" ).show();
            }
		}
		});
	
	</script>
</html>