<div id="registracija" class = "forma" style = "display:none; width: 30%; margin: auto;" th:fragment="regg">
	<table class = "table table-borderless">
	<thead></thead>
	<tbody>
		<tr>
			<th>Unesite ime: </th>
			<th><input type = "text" v-model = "imee" :placeholder = "[[ ime_pl ]]"></th>
		</tr>
		<tr>
			<th>Unesite prezime: </th>
			<th><input type = "text" v-model = "prezime" :placeholder = "[[ prez_pl ]]" ></th>
		</tr>
		<tr>
			<th>Unesite lozinku: </th>
			<th><input type = "password" v-model = "pass" ></th>
		</tr>
		<tr>
			<th>Ponovite lozinku: </th>
			<th><input type = "password" v-model = "pass2" ></th>
		</tr>
		<tr>
			<th>Unesite adresu: </th>
			<th><input type = "text" v-model = "adresa" :placeholder = "[[ adr_pl ]]"> </th>
		</tr>
		<tr>
			<th>Unesite broj telefona: </th>
			<th><input type = "text" v-model = "broj" :placeholder = "[[ br_pl ]]" ></th>
		</tr>
		<tr>
			<th colspan="2" style = "text-align: center; padding-top : 5%;">
				<input type="submit" value="Izmeni" v-on:click = "izmeni_korisnika" />
			</th>
		</tr>
		<tr>
			<th colspan="2" style = "text-align: center; padding-top : 5%; color: red; ">
				<h5>{{ error_message }}</h5>
			</th>
		</tr>
	</tbody>
	</table>
</div>