<head>
	<meta charset="UTF-8">
	</head>
<div id="zkarton" style = "display:none; width: 30%; margin: auto;" th:fragment="zk">
	<table class = "table table-borderless">
		<thead></thead>
		<tbody>
			<tr>
				<th>Krvna grupa: </th>
				<th><label> {{ krvna_grupa }} </label></th>
			</tr>
			<tr>
				<th>Težina </th>
				<th><label> {{ tezina }} </label></th>
			</tr>
			<tr>
				<th>Visina </th>
				<th><label> {{ visina }} </label></th>
			</tr>
		</tbody>
	</table>
	<h4>Pregledi:</h4>
	<table class = "table table-borderless">
		<thead>
			<tr >
        		<th class="col-md-3" v-for="(column, index) in labels" :key="index"> {{column}}</th>
    		</tr>
		</thead>
		<tbody v-if="items.length > 0">
        	<tr v-for="(item, index) in items" :key="index">
            	<td class="col-md-3" v-for="(column, indexColumn) in columns" :key="indexColumn">{{item[column]}}</td>
          	</tr>
    	</tbody>
	</table>
</div>